<div class="container">
		<% @article.each do |article| %>
			<div class="card shadow mb-5 bg-white rounded text-center mb-5">
				<div class="card-header">
					<% if article.user %>
						By : <%=  link_to article.user.username, user_path(article.user) %>
					<% end %>
				</div>
				<div class="card-body">
					<h5 class=" card-title"><%= link_to article.title,article_path(article),class: "text-success" %> </h2>
					<p class="card-text">
						<%= truncate(article.description,length:100) %>
					</p>
					<p>
						<%=link_to 'Show', article_path(article), class:"btn btn-outline-primary" %> 
						<% if logged_in? && article.user == current_user %>
							<%=link_to 'Edit', edit_article_path(article), class:"btn btn-outline-success" %>
							<%=link_to 'Delete', article_path(article), method: :delete, data:{confirm:"Are You Sure to Delete ?"}, class:"btn btn-outline-danger" %>
						<% end %>
					</p>
					
					

			
			
				</div>
				<div class="card-footer text-muted">
					<p> Created <%= time_ago_in_words(article.created_at) %> ago, Edited <%= time_ago_in_words(article.updated_at) %> ago</p>
					
				</div>
			</div>
		<%end%>
	</div>