
<div class="w-100 row align-items-center breadcrumbb ml-0 mb-5">
    <div class="offset-md-4 col-md-4 text-center">
          <h1 class="text-center mt-4">Article </h1>
    </div>
    <div class="col-md-4 text-right"> 
        <span>
            <span class="breadcrumb-item"><%= link_to 'Home', root_path %></span>
		    <span class="breadcrumb-item"><%= link_to 'Create Article', new_article_path %></span>
		    <span class="breadcrumb-item active" aria-current="page">Edit Article</span>
        <span>
    </div>
 </div>

	<div class="container">
		<% @article.each do |article| %>
			<div class="card shadow mb-5 bg-white rounded text-center mb-5">
				<div class="card-header">
					Featured
				</div>
				<div class="card-body">
					<h5 class=" card-title"><%= link_to article.title,article_path(article),class: "text-success" %> </h2>
					<p class="card-text">
						<%= truncate(article.description,length:100) %>
					</p>
					<p>
						<button type="button" class="btn btn-outline-success"><%=link_to 'Edit', edit_article_path(article)%> </button>
						<button type="button" class="btn btn-outline-primary"><%=link_to 'Show', article_path(article)%> </button>
						<button type="button" class="btn btn-outline-danger"><%=link_to 'Delete', article_path(article), method: :delete, data:{confirm:"Are You Sure to Delete ?"}%> </button>
					</p>
					
					

			
			
				</div>
				<div class="card-footer text-muted">
					<p> Created <%= time_ago_in_words(article.created_at) %> ago, Edited <%= time_ago_in_words(article.updated_at) %> ago</p>
				</div>
			</div>
		<%end%>
	</div>




