
<div class="w-100 row align-items-center breadcrumbb ml-0 mb-5">
    <div class="offset-md-3 col-md-5 text-center">
          <h1 class="text-center mt-4"> Showing Article Details </h1>
    </div>
    <div class="col-md-4 text-right"> 
        <span>
            <span class="breadcrumb-item"><%= link_to 'Home', root_path %></span>
		    <span class="breadcrumb-item"><%= link_to 'Articles', articles_path %></span>
		    <span class="breadcrumb-item active" aria-current="page">Show Article</span>
        <span>
    </div>
 </div>
<div class="container ">
        <div class="card shadow mb-5 bg-white rounded text-center mb-5">
            <div class="card-header text-left">
				<strong>Title:</strong> <%=@article.title %>
			</div>
            <div class="card-body">
                <div class="card-text text-left">
                    <strong>Description:</strong><%= simple_format(@article.description) %>
                </div>
                <p>
                <%=link_to 'Edit', edit_article_path(@article), class:"btn btn-outline-success btn-lg "%>
                <%=link_to 'Delete', article_path(@article), method: :delete, data:{confirm:"Are You Sure to Delete ?"}, class:"btn btn-outline-danger btn-lg "%>
                <%=link_to 'Back', articles_path, class: "btn btn-outline-secondary btn-lg"%> </button>
                </p>
                        
            </div>
            <div class="card-footer text-muted">
					<p> Created By <%= @article.user.username if @article.user %> <%=time_ago_in_words(@article.created_at) %> ago, Edited By <%= @article.user.username if @article.user %> <%= time_ago_in_words(@article.updated_at) %> ago</p>
				</div>
        </div>
    </div>

    
    











