
<div class="w-100 row align-items-center breadcrumbb ml-0 mb-5">
    <div class="offset-md-4 col-md-4 text-center">
          <h1 class="text-center mt-4">Alpha Bloggers </h1>
    </div>
    <div class="col-md-4 text-right"> 
        <span>
            <span class="breadcrumb-item"><%= link_to 'Home', root_path %></span>
		    <span class="breadcrumb-item active" aria-current="page">Bloggers </span>
        <span>
    </div>
 </div>
<div class="container">
		<% @user.each do |user| %>
			<div class="card shadow mb-5 bg-white rounded text-center mb-5">
				<div class="card-header">
					<%= link_to user.username , user %>
				</div>
				<div class="card-body">
					<h5 class=" card-title">
                         <%= link_to gravatar_for(user, size: 150), user %>
                    </h2>
					<p class="card-text">
					    <%= user.email %>
					</p>
					<p class="card-text">
						<%= pluralize(user.articles.count, "article")%>
					</p>
					<p>
						<% if logged_in? %>
              				<% if user == current_user %>
                				<%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" %>
              				<% end %>
              				<% if current_user.admin? %>
                				<%= link_to "Delete user", user_path(user), class: "btn btn-outline-danger", method: :delete,
                				data: {confirm: "Are you sure you want to delete the user account and all associated articles?"} %>
              				<% end %>
						<% end %>
					</p>
					
					

			
			
				</div>
				<div class="card-footer text-muted">
					<p> Joined <%= time_ago_in_words(user.created_at) %> ago</p>
					
				</div>
			</div>
		<%end%>
	</div>



